.root {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    text-align: center;
    font-weight: 600;
    font-size: rem(180px);
    line-height: 1;
    margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
    color: var(--mantine-color-gray-3);

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(110px);
    }
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: rem(34px);
    color: var(--mantine-color-text);

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(28px);
    }
}

.description {
    max-width: rem(540px);
    margin: auto;
    margin-top: var(--mantine-spacing-xl);
    margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
    color: var(--mantine-color-dimmed);
}
