.root {
    background: var(--mantine-color-white);
    border: 1px solid rgb(26, 27, 30, 0.08);
    transition: border-color 150ms ease-out;
}

.root:hover {
    border-color: rgb(26, 27, 30, 0.16);
}
